body{
}

#Bhavana_selectTips{
    margin-bottom: 15px;
}

#causesTotalMinutes, #causesCause{
}

#bhavana_meditationInstructions{
	display: none;
}

.list-group-item{
    font-size: 180%;
}

#bhavana_selectMeditationIntention{
    margin-bottom: 25px;
    //display: none;
}

#bhavana_waitingForVideo{
    display: none;
}
