<div class="page-header">
    <h1 id="bhavana_forTodayMainTopic"></h1>
</div>

<h2>El día de hoy...</h2>

<div class="alert alert-success" role="alert" style="background: #ee7006; color: white;"><h1 id="bhavana_forTodayText"></h1></div>

<div id="bhavana_forTodayQuote"></div>

<script src="tpl/bhavana/js/forToday.js"></script>
