<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Meditación Para La Vida Diaria</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <p>
                <strong>
                    Antes de iniciar
                </strong>
                Tome unos momentos y lea esta información con cuidado.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    No puede equivocarse
                </strong>
                Recuerde que no hay forma de equivocarse, con solo seguir las instrucciones lo mejor que pueda ya está
                haciendo todo correctamente. Estar aquí ya es un paso correcto en la dirección correcta.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    Retorne a la respiración tantas veces como sea necesario
                </strong>
                La mente tiende siempre a distraerse, siempre que esto suceda (y va a suceder) simplemente retorne a la respiración, 
                este es el, hágalo tantas veces como sea necesario.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                <strong>
                    Formulario de inscripción
                </strong>
                Si es posible llene el formalario de inscripción, son tan solo algunas preguntas y esto nos permitirá mejorar el curso.
                <a href="http://lasangha.org/form/registro-curso-meditaci%C3%B3n?ref=app_Intro" target="_blank">Encuéntrelo aquí</a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    Lea las instrucciones y la introducción si no lo ha hecho
                </strong>
                Ahí encontrará aspectos técnicos, desde como sentarse hasta como mantener la vista durante la sesión.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    Visite el blog
                </strong>
                Hay mucha información principalmente respecto a la teoría, esta le ayudará a comprender mejor el curso.
                <a href="http://elblog.lasangha.org?ref=app_intro">Blog</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                <strong>
                    Consejos de meditación
                </strong>
                Una sección con los consejos más comunes, pero que son muy importantes tener en mente durante la meditación.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    Preguntas o comentarios
                </strong>
                Ayuenos a mejorar los retiros de meditación, es para su beneficio y el de muchas otras personas.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <strong>
                    Recomiendenos y ayude a otros
                </strong>
                Con su ayuda podemos crecer y beneficiar a más personas.
                </p>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pager">
        <li>
        <a href="index.html" id="goBack">Volver al Inicio</a>
        </li>
        <li>
        <a href="?x=bhavana/sessions" id="goNext">Iniciar las Meditaciones</a>
        </li>
    </ul>
</nav>
    </div>

</div>
</div>


