<div class="panel panel-default">
    <div class="panel-heading">
        <h1> <span id="sessionTitle">
                Esta sesión
            </span>
            <span class="label label-default" id="sessionNumber">#</span>
        </h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h3 id="sessionDesc">Vamos a meditar...</h3>
                <div align="center">
                    <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
                        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Hoy voy a meditar por...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('non');">Solo quiero meditar</a></li>
                            <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('paz');">La Paz</a></li>
                            <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('com');">Compasión</a></li>
                            <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('hum');">Humildad</a></li>
                        </ul>
                    </div>
                    <div id="bhavana_meditationInstructions">
                        <div class="alert alert-info" role="alert">
                            <h1>
                                Inicie el video, cierre los ojos y comience su meditación....
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div align="center" id="bhavana_waitingForVideo">
                    <img src="tpl/img/loader_100.gif"> Cargando meditación...
                </div>

                <div align="center"	class="embed-responsive embed-responsive-16by9">
                    <div align="center"	id="sessionsPlayer"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">

</div>
    <ul class="pager">
        <li class="previous">
        <a href="?x=sessions" id="goBack">Anterior</a>
        </li>
        <li class="next">
        <a href="?x=sessions" id="goNext">Siguiente</a>
        </li>
    </ul>
</nav>

<script src="tpl/bhavana/js/sessions.js"></script>
